@media (min-width: 1200px) and (max-width: 1499px) {
  /* générale */

  .btn { font-size: 12px; }
  .btn-lg { font-size: 16px; }
  .btn-sm { font-size: 10px; }

  .silya-lg {
    min-height: 48px;
    font-size: 28px;
  }

  .silya-md {
    min-height: 44px;
    font-size: 24px;
  }

  .silya-sm {
    min-height: 44px;
    font-size: 24px;
  }

  .form-title {
    font-size: 19px;
  }

  .img-icon, .img-cache-up {
    height: 100px;
  }

  .form-elem label {
    font-size: 12px;
  }

  /* footer */
  .partenaire {
    position: relative;
  }

  /* accueil */

  .vp-container{
    margin-bottom: 20px;
    padding: 40px;
    width: 1000px;
  }

  .logo {
     font-size: 57px;
   }

  .vp {
    font-size: 28px;
  }

  .vp2 {
    font-size: 24px;
  }

  .vp-md {
    font-size: 18px;
  }

  .vp-sm {
    font-size: 16px;
  }

  /* Intro */

  .vp-container2{
    width: 1000px;
  }

  .vp-img {
    height: 150px;
  }

  .vp-bas {
    width: 200px;
  }

  /* Style */

  .popup-large {
    width: 90%;
    left: 5%;
  }

  .popup p {
    font-size: 16px;
  }

  .carac-div {
    width: 140px;
    font-size: 14px;
  }

  .img-jaimepas {
    width: 90%;
    margin-top: 50px;
  }

  .carac-img-place, .carac-img {
    height: 90px;
    width: 90px;
  }

  .carac-img:hover {
    width: 130px;
    height: 130px;
    top: -20px;
    left: -20px;
  }

  .app-style {
    top: -25px;
  }

  .circle {
    height: 35px;
    width: 35px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  .circle i {
    font-size: 19px;
    top: 9px;
    left: 7px;
  }

  #fa-bolt {
    font-size: 14px;
    top: 9px;
    left: 14px;
  }

  /* shop */

  .popup-page {
    width: 80%;
    margin: 50px 0 50px 10%;
    padding: 30px 60px 60px;
    font-size: 18px;
  }

  .popup-img-xxs {
    max-height: 40px;
  }

  .popup-img-xs {
    max-height: 150px;
    max-width: 100%;
  }

  .popup-img-sm {
    max-height: 220px;
  }

  .popup-img {
    max-height: 300px;
  }

  .popup-h1 {
    font-size: 30px;
  }

  .popup-content {
    margin-top: 80px;
  }

  .popup-content-mid {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .card-title {
    max-height: 48px;
    min-height: 48px;
    font-size: 16px;
  }

  .pourquoi, .voir-plus, .titre-barre, .titre-filtre {
    font-size: 16px;
  }

  .titre-filtre {
    top: -15px;
  }

  .card-text {
    font-size: 14px;
  }

  .shop-extra {
    font-size: 13px;
  }

  .shop-card:hover{
    box-shadow: 0 7px 14px rgba(0,0,0,0.12), 0 7px 14px rgba(0,0,0,0.24);
    transition: width 0.3s ease;
  }

  .shop-card-container, .shop-card, .shop-content {
    width: 228px;
  }

  .shop-card-focused:hover{
    width: 500px;
  }

  .shop-card-focused-xl:hover{
    width: 650px;
  }

  .shop-card .shop-extra{
    width: 275px;
  }

  .shop-card-focused-xl .shop-extra{
    width: 430px;
  }

  .shop-img-place {
    height: 160px
  }

  .shop-footer{
    font-size: 14px;
  }

  .shop-footer img{
    height: 40px;
  }


  /* Home 2 */

  /* Header */
  #logo, #titre {
    font-size: 40px;
  }

  #header-links, #connexion{
    line-height: 58px;
    font-size: 15px;
  }

  #sous-titre {
    margin-left: 10px;
    font-size: 16px;
  }

  #sort {
    line-height: 75px;
  }

  /* bijoux */

  .shop-card-container2{
    width: 230px;
  }

  .loader i {
    font-size: 30px;
  }

  .pages {
    font-size: 16px;
  }

  #bijoux {
    width: calc(100% - 190px);
  }

  .popin-fleche2 {
    top: 350px;
    left: 320px;
  }

  .popin2 {
    top: 350px;
    left: 410px;
  }

  /* Filtres */

  #filtres {
    width: 190px;
  }

  .collapse {
    display: block;
  }

  #filter-titre {
    font-size: 24px;
  }

  .filter-titre {
    font-size: 18px;
  }

  .selector-bg {
    background-image: url("/assets/selector_sm.png");
    width: 150px;
    height: 30px;
  }

  .selector2-bg {
    background-image: url("/assets/selector2_sm.png");
    width: 145px;
    height: 30px;
  }

  .selector-label {
    width: 150px;
    font-size: 12px;
  }

  .selector-check {
    height: 18px;
    width: 18px;
    top: 6px;
  }

  .selector-check i {
    font-size: 11px;
    top: -5px;
  }

  .selector-check-left {
    left: 7px;
  }

  .selector-check-middle {
    left: 66px;
  }

  .selector-check-right {
    left: 126px;
  }

  .selector-check2 {
    left: 9px;
  }

  .selector2-text {
    font-size: 13px;
    top: 2px;
    left: 40px;
  }

  .circle-color {
    height: 10px;
    width: 10px;
  }
}
