@media (max-width: 767px) {
  /* générale */

  .btn { font-size: 12px; }
  .btn-lg { font-size: 14px; }
  .btn-sm { font-size: 12px; }

  .silya-lg {
    min-height: 43px;
    font-size: 25px;
  }

  .silya-md {
    min-height: 44px;
    font-size: 24px;
  }

  .silya-sm {
    min-height: 44px;
    font-size: 24px;
  }

  .form-title {
    font-size: 17px;
  }

  .img-icon, .img-cache-up {
    height: 90px;
  }

  .form-elem label {
    font-size: 12px;
  }

  .header-progress{
    display: none;
  }

  /* page 1 */

  .vp-container{
    margin-bottom: 20px;
    padding: 24px;
    width: 100%;
    text-align: center;
  }

  .logo {
    font-size: 36px;
    margin-top: 10px;
  }

  .vp {
    font-size: 20px;
  }

  .vp2 {
    font-size: 18px;
  }

  .vp-md {
    font-size: 16px;
  }

  .vp-sm {
    font-size: 14px;
  }

  /* Style */

  .popup-large, .popup {
    width: 90%;
    left: 5%;
  }

  .popup p {
    font-size: 16px;
  }

  #carac-li {
    height: 50vh;
  }

  .carac-div {
    width: 140px;
    font-size: 14px;
  }

  .img-jaimepas {
    width: 90%;
    margin-top: 50px;
  }

  .carac-img-place, .carac-img {
    height: 90px;
    width: 90px;
  }

  .carac-img:hover {
    width: 130px;
    height: 130px;
    top: -20px;
    left: -20px;
  }

  .app-style-container{
    opacity: 1 !important;
  }

  .app-style {
    top: -25px;
  }

  .circle {
    height: 35px;
    width: 35px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  .circle i {
    font-size: 19px;
    top: 9px;
    left: 7px;
  }

  #fa-bolt {
    font-size: 14px;
    top: 9px;
    left: 14px;
  }

  /* shop */

  .popup-page {
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 15px 30px 15px;
    font-size: 14px;
  }

  .popup-img-xxs {
     max-height: 30px;
   }

  .popup-img-xs {
    max-height: 100px;
    max-width: 90%;
  }

  .popup-img-sm {
    max-height: 165px;
  }

  .popup-img-xxs {
    max-height: 30px;
  }

  .popup-img {
    max-height: 200px;
  }

  .popup-h1 {
    font-size: 18px;
  }

  .popup-content, .popup-content-mid {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn-popup {
    position: relative;
    margin: auto;
  }

  .card-title {
    max-height: 48px;
    min-height: 48px;
    font-size: 16px;
  }

  .filters {
    text-align: center;
    margin-top: 20px;
  }

  .pourquoi, .voir-plus, .titre-barre, .titre-filtre {
    font-size: 15px;
  }

  .titre-filtre {
    top: -15px;
  }

  .card-text {
    font-size: 14px;
  }

  .shop-extra {
    font-size: 13px;
  }

  .shop-card-container, .shop-card, .shop-content {
    width: 228px;
  }

  .shop-card-focused:hover{
    width: 500px;
  }

  .shop-card-focused-xl:hover{
    width: 650px;
  }

  .shop-card .shop-extra{
    width: 275px;
  }

  .shop-card-focused-xl .shop-extra{
    width: 430px;
  }

  .shop-img-place {
    height: 160px
  }

  .shop-footer{
    font-size: 14px;
  }

  .shop-footer img{
    height: 40px;
  }

  /* Autre */

  .img-cache-up {
    position: relative;
    top: -100px;
  }


  /* Home 2 */

  /* Header */
  #logo {
    font-size: 40px;
  }

  #titre {
    font-size: 30px;
  }

  #connexion{
    line-height: 60px;
    font-size: 14px;
  }

  #header-links{
    line-height: 40px;
    font-size: 15px;
    text-align: center;
  }

  #sous-titre {
    font-size: 14px;
  }

  #sort {
    line-height: 47px;
    font-size: 14px;
  }

  /* bijoux */

  .shop-card-container2{
    width: 200px;
  }

  .shop-content2{
    width: 185px;
  }

  .loader i {
    font-size: 25px;
  }

  .pages {
    font-size: 14px;
  }

  #bijoux {
    width: 100%;
    font-size: 14px;
  }

  .popin-fleche2 {
    top: 370px;
    left: 50px;
  }

  .popin2 {
    top: 370px;
    left: 140px;
  }

  /* Filtres */

  #filtres {
    width: 100%;
  }

  #filter-titre {
    font-size: 24px;
  }

  .filter-titre {
    font-size: 18px;
  }

  .selector-bg {
    background-image: url("/assets/selector_sm.png");
    width: 150px;
    height: 30px;
  }

  .selector2-bg {
    background-image: url("/assets/selector2_sm.png");
    width: 145px;
    height: 30px;
  }

  .selector-label {
    width: 150px;
    font-size: 12px;
  }

  .selector-check {
    height: 18px;
    width: 18px;
    top: 6px;
  }

  .selector-check i {
    font-size: 11px;
    top: -5px;
  }

  .selector-check-left {
    left: 7px;
  }

  .selector-check-middle {
    left: 66px;
  }

  .selector-check-right {
    left: 126px;
  }

  .selector-check2 {
    left: 9px;
  }

  .selector2-text {
    font-size: 13px;
    top: 2px;
    left: 40px;
  }

  .circle-color {
    height: 10px;
    width: 10px;
  }
}
