@media (min-width: 1500px){
  /* générale */

  .btn { font-size: 16px; }
  .btn-lg { font-size: 19px; }
  .btn-sm { font-size: 13px; }

  .silya-lg {
    min-height: 60px;
    font-size: 36px;
  }

  .silya-md {
    min-height: 55px;
    font-size: 30px;
  }

  .silya-sm {
    min-height: 55px;
    font-size: 30px;
  }

  .form-title {
    font-size: 24px;
  }

  .img-icon, .img-cache-up {
    height: 130px;
  }

  .form-elem label {
    font-size: 15px;
  }

  /* footer */
  .partenaire {
    position: relative;
  }

  /* accueil */

  .vp-container{
    margin-bottom: 40px;
    padding: 80px;
    width: 1200px;
  }

  .logo {
    font-size: 72px;
  }

  .vp {
    font-size: 36px;
  }

  .vp2 {
    font-size: 30px;
  }

  .vp-md {
    font-size: 20px;
  }

  .vp-sm {
    font-size: 18px;
  }

  /* Intro */

  .vp-container2{
    width: 1200px;
  }

  .vp-img {
    height: 170px;
  }

  .vp-bas {
    width: 250px;
  }

  /* Style */

  .popup-large {
    width: 80%;
    left: 10%;
  }

  .popup p {
    font-size: 20px;
  }

  .carac-div {
    width: 140px;
  }

  .img-jaimepas {
    width: 90%;
    margin-top: 50px;
  }

  .carac-img-place, .carac-img {
    height: 110px;
    width: 110px;
  }

  .carac-img:hover {
    width: 150px;
    height: 150px;
    top: -20px;
    left: -20px;
  }

  .app-style {
    top: -50px;
  }

  .circle {
    height: 50px;
    width: 50px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  .circle i {
    font-size: 22px;
    top: 14px;
    left: 14px;
  }

  #fa-bolt {
    font-size: 17px;
    top: 14px;
    left: 21px;
  }

  /* shop */

  .popup-page {
    width: 80%;
    margin: 50px 0 50px 10%;
    padding: 45px 70px 70px;
    font-size: 20px;
  }

  .popup-img-xxs {
    max-height: 40px;
  }

  .popup-img-sm {
    max-height: 300px;
  }

  .popup-h1 {
    font-size: 40px;
  }

  .popup-content {
    margin-top: 135px;
  }

  .popup-content-mid {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .card-title {
    max-height: 48px;
    min-height: 48px;
    font-size: 17px;
  }

  .pourquoi, .voir-plus, .titre-barre, .titre-filtre {
    font-size: 18px;
  }

  .titre-filtre {
    top: -15px;
  }

  .card-text {
    font-size: 16px;
  }

  .shop-extra {
    font-size: 14px;
  }

  .shop-card:hover{
    box-shadow: 0 7px 14px rgba(0,0,0,0.12), 0 7px 14px rgba(0,0,0,0.24);
    transition: width 0.3s ease;
  }

  .shop-card-container, .shop-card, .shop-content {
    width: 280px;
  }

  .shop-card-focused:hover{
    width: 550px;
  }

  .shop-card-focused-xl:hover{
    width: 700px;
  }

  .shop-card .shop-extra{
    width: 270px;
  }

  .shop-card-focused-xl .shop-extra{
    width: 420px;
  }

  .shop-img-place {
    height: 230px
  }

  .shop-footer{
    font-size: 16px;
  }

  .shop-footer img{
    height: 50px;
  }


  /* Home 2 */

  /* Header */
  #logo, #titre {
    font-size: 60px;
  }

  #header-links, #connexion{
    line-height: 90px;
    font-size: 19px;
  }

  #sous-titre {
    margin-left: 30px;
    font-size: 20px;
  }

  #sort {
    line-height: 115px;
  }

  /* bijoux */

  .shop-card-container2{
    width: 270px;
  }

  .loader i {
    font-size: 40px;
  }

  .pages {
    font-size: 20px;
  }

  #bijoux {
    width: calc(100% - 250px);
  }

  .popin-fleche2 {
    top: 430px;
    left: 435px;
  }

  .popin2 {
    top: 430px;
    left: 525px;
  }

  /* Filtres */

  #filtres {
    width: 250px;
  }

  .collapse {
    display: block;
  }

  #filter-titre {
    font-size: 30px;
  }

  .filter-titre {
    font-size: 20px;
  }

  .selector-bg {
    background-image: url("/assets/selector.png");
    width: 200px;
    height: 40px;
  }

  .selector2-bg {
    background-image: url("/assets/selector2.png");
    width: 180px;
    height: 40px;
  }

  .selector-label {
    width: 200px;
    font-size: 14px;
  }

  .selector-check {
    height: 23px;
    width: 23px;
    top: 8px;
  }

  .selector-check i {
    font-size: 13px;
    top: -2px;
  }

  .selector-check-left {
    left: 9px;
  }

  .selector-check-middle {
    left: 88px;
  }

  .selector-check-right {
    left: 167px;
  }

  .selector-check2 {
    left: 5px;
  }

  .selector2-text {
    font-size: 16px;
    top: 8px;
    left: 47px;
  }

  .circle-color {
    height: 15px;
    width: 15px;
  }
}
