footer{
  padding-bottom: 15px;
  color: #636363;
}

.footer-left{
  padding-top: 17px;
}

.legal:hover{
  color: #1b1b1b;
}

.footer-right{
  text-align: right;
}

.partenaire {
  margin-left: 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: opacity(50%) grayscale(100%);
  font-size: 30px;
}

.partenaire:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}
