<footer class="container">
  <hr>
  <div class="row">

    <div class="footer-left col-3">© 2017 Silya - <span class="legal"><a>Mentions Légales</a></span></div>

    <div class="footer-right col-9">
      <span>Nos partenaires :</span>
        <img class="partenaire" src="assets/logo_swarovski.png" alt="Swarovski" style="height: 50px; top: -15px;"/>
        <img class="partenaire" src="assets/logo_forzieri.png" alt="Forzieri" style="height: 40px;"/>
        <img class="partenaire" src="assets/logo_histoire_dor.png" alt="Histoire d'or" style="height: 40px; top: -5px;"/>
      <span class="partenaire" style="top: -5px;">...</span>
    </div>

  </div>
</footer>
