<header>
  <div class="container">
    <div class="row">
      <div class="silya header-silya col-md-2">
        <a href="conseil#accueil" (click)="parent.setProgress(0)">Silya</a>
      </div>

      <div *ngIf="parent.show_progress" class="header-progress col-md-8" [@flyInOut]="'in'">
        <div class="progress" style="width: 100%">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
               [style.width]="_Math.min(parent.progress,33)+'%'"
               aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
               [style.width]="_Math.max(_Math.min(parent.progress-33,63-33),0)+'%'"
               aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar progress-bar-striped bg-rose" role="progressbar"
               [style.width]="_Math.max(_Math.min(parent.progress-63,100-63),0)+'%'"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="header-step" style="left: 8%; background-color: #73C9E3">
          <a href="conseil#intro" (click)="parent.setProgress(1)">
            <i class="fa fa-info" aria-hidden="true"></i>
            <div class="header-link" style="color: #73C9E3">
              Introduction
            </div>
          </a>
        </div>

        <div class="header-step" style="left: 32%; background-color: #74C374">
          <a href="conseil#morpho" (click)="parent.setProgress(2)">
            <img src="assets/icon/icon_morpho.png" style="height: 20px; position: relative; top:-3px;">
            <div class="header-link" style="color: #74C374">
              Morphologie
            </div>
          </a>
        </div>

        <div class="header-step" style="left: 61%; background-color: #74C374">
          <a href="conseil#choix" (click)="parent.setProgress(4)">
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <div class="header-link" style="color: #74C374">
              Occasion
            </div>
          </a>
        </div>

        <div class="header-step" style="left: 85%; background-color: #e8506d; color: #FFD700">
          <a href="conseil#selection" (click)="parent.setProgress(6)">
            <i class="fa fa-star" aria-hidden="true"></i>
            <div class="header-link" style="color: #e8506d">
              Ma sélection
            </div>
          </a>
        </div>
      </div>

      <div class="header-connexion col-md-2">
        <a (click)="parent.auth.login()" *ngIf="!parent.auth.authenticated()">Connexion</a>
        <a (click)="parent.auth.logout()" *ngIf="parent.auth.authenticated()">Déconnexion</a>
      </div>
    </div>
  </div>
</header>
