header {
  position: fixed;
  display: block;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background-color: #fffafa;
}

.header-silya{
  padding-top: 5px;
  font-size: 40px;
}

.header-progress{
  padding-top: 18px;
  text-align: center;
}

.header-connexion {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 18px;
  font-size: 18px;
  color: #232323;
  text-decoration: underline;
  text-align: right;
}

.header-connexion:hover{
  color: #373737;
}

.header-link{
  position: absolute;
  top: 30px;
  left: -34px;
  width: 100px;
  text-align: center;
}

.header-step {
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 30px;
  width: 30px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;

  text-align: center;
  padding-top: 1px;
  color: #fdfdfd;
  font-weight: 500;
  background-color: #DBDBD9;
}

.header-step i {
  height: 100%; /* Cercle clickable */
  width: 100%;
}

.header-step:hover{
  transform: scale(1.1);
}
