
<!-- Popin -->
<img *ngIf="show_popupin" [@fade]="'in'"
     src="assets/fleche.png" class="popin-fleche2 ombre">
<div *ngIf="show_popupin" id="popin1" class="popin2 card" [@fade]="'in'">
  <div>
    <p>
      Découvre tous les filtres disponibles pour trouver le bijou de tes rêves !
    </p>
    <hr>

    <button class="btn btn-rose" (click)="show_popupin = false;" style="float: right">
      Ok
    </button>
  </div>
</div>

<div id="mother" class="container">
  <!-- Header -->
  <header>
    <div class="row">
      <div class="col-6 col-sm-2 push-sm-5">
        <div id="logo" class="silya">Silya</div>
      </div>

      <div id="connexion" class="col-6 col-sm-5 push-sm-5">
        <a (click)="auth.login()" *ngIf="!auth.authenticated()">Connexion</a>
        <a (click)="auth.logout()" *ngIf="auth.authenticated()">Déconnexion</a>
      </div>

      <div id="header-links" class="col-12 col-sm-5 pull-sm-7">
        <a [ngClass]="{'header-selected': type === 'Bague'}" href="/bijoux/bague">Bagues</a> -
        <a [ngClass]="{'header-selected': type === 'Collier'}" href="/bijoux/collier">Colliers</a> -
        <a [ngClass]="{'header-selected': type === 'Boucle_oreil'}" href="/bijoux/boucle_doreille">Boucles d'oreilles</a> -
        <a [ngClass]="{'header-selected': type === 'Bracelet'}" href="/bijoux/bracelet">Bracelets</a> -
        <a [ngClass]="{'header-selected': type === 'Montre'}" href="/bijoux/montre">Montres</a>
      </div>
    </div>
  </header>

  <div id="content" class="thetop">
    <div class="vp2" style="text-align: center; margin-bottom: 10px;">
      Trouve le bijou parfait parmis 1245 bijoux de 35 marques différentes.
    </div>
    <div id="sort-header" class="row">

      <div class="col-4">
        <span id="titre">Bagues</span>
        <span id="sous-titre">{{bijoux_nbr}} bijoux trouvés</span>
      </div>

      <div id="sort" class="col-8">
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
        Trier par :

        <span class="sort-item" [ngClass]="{'sort-item-selected': filter.order === 'pop'}" (click)="changeOrder('pop')">
          <i class="fa fa-star" aria-hidden="true" style="color: #FFD700;"></i>
          Popularité
        </span>

        <span class="sort-item" [ngClass]="{'sort-item-selected': filter.order !== 'pop'}" (click)="changeOrder('prix')">
          <i class="fa fa-euro" aria-hidden="true" style="color: #FFD700;"></i>
          Prix
          <i class="fa" [ngClass]="{'fa-sort-desc': filter.order === 'prix_asc', 'fa-sort-asc': filter.order === 'prix_des'}" aria-hidden="true"></i>
        </span>

      </div>
    </div>

    <div class="row">
      <div id="filtres" class="navbar-toggleable-md ">
        <span class="navbar-toggler" data-toggle="collapse" data-target="#collapse-filter" aria-controls="collapse-filter" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i> Voir les filtres
        </span>
        <div id="collapse-filter" class="collapse">
          <span id="filter-titre">Filtres</span>
          <span id="reinit-filtre" (click)="initFilter(); getFiltered(); goTop()">Réinitialiser</span>

          <div style="position: relative">
            <br><span class="filter-titre">Prix :</span>
            <app-selector [parent]="this" [data_key]="'prix'" ></app-selector>
          </div>

          <div style="position: relative" *ngIf="type !== 'Montre'">
            <hr><span class="filter-titre">Occasion :</span>
            <app-selector [parent]="this" [data_key]="'occasion'" ></app-selector>
          </div>

          <div style="position: relative">
            <hr><span class="filter-titre">Taille :</span>
            <app-selector [parent]="this" [data_key]="'taille'" ></app-selector>
          </div>

          <div style="position: relative" *ngIf="type === 'Bague';">
            <hr><span class="filter-titre">Monture :</span>
            <app-selector [parent]="this" [data_key]="'bague_monture'" ></app-selector>
          </div>

          <div style="position: relative" *ngIf="type === 'Boucle_oreil';">
            <hr><span class="filter-titre">Forme :</span>
            <app-selector [parent]="this" [data_key]="'boucle_forme'" ></app-selector>
          </div>

          <div style="position: relative" *ngIf="type === 'Collier';">
            <hr><span class="filter-titre">Forme :</span>
            <app-selector [parent]="this" [data_key]="'collier_forme'" ></app-selector>
          </div>

          <div style="position: relative" *ngIf="type === 'Montre';">
            <hr><span class="filter-titre">Forme du cadran :</span>
            <app-selector [parent]="this" [data_key]="'montre_forme'" ></app-selector>
          </div>

          <div style="position: relative" *ngIf="type === 'Collier';">
            <hr><span class="filter-titre">Longueur :</span>
            <app-picker [parent]="this" [data_key]="'collier_longueur'" ></app-picker>
          </div>

          <div style="position: relative" *ngIf="type !== 'Montre'">
            <hr><span class="filter-titre">Style :</span>
            <app-picker [parent]="this" [data_key]="'style'" ></app-picker>
          </div>

          <div style="position: relative" *ngIf="type !== 'Montre'">
            <hr><span class="filter-titre">Forme :</span>
            <app-picker [parent]="this" [data_key]="'forme'" ></app-picker>
          </div>

          <div style="position: relative" *ngIf="type !== 'Montre'">
            <hr><span class="filter-titre">Aspect :</span>
            <app-picker [parent]="this" [data_key]="'aspect'" ></app-picker>
          </div>

          <div style="position: relative">
            <hr><span class="filter-titre">Couleur du métal :</span>
            <app-picker [parent]="this" [data_key]="'couleur_metal'" ></app-picker>
          </div>

          <div style="position: relative">
            <hr><span class="filter-titre"  *ngIf="type !== 'Montre'">Couleur dominante :</span>
            <hr><span class="filter-titre"  *ngIf="type === 'Montre'">Couleur du bracelet :</span>
            <app-picker [parent]="this" [data_key]="'couleur'" ></app-picker>
          </div>

          <div style="position: relative" *ngIf="type === 'Montre';">
            <hr><span class="filter-titre">Matière du bracelet :</span>
            <app-picker [parent]="this" [data_key]="'montre_bracelet'" ></app-picker>
          </div>

          <div *ngIf="changed_glob" style="text-align: center; margin-top: 20px">
            <button class="btn btn-sm btn-rose"
                    (click)="getFiltered(); goTop();" [@fade]="'in'">
              Appliquer <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>

        </div>
      </div>

      <div id="bijoux">
        <div id="not-found" *ngIf="bijoux[0].length === 0 && !first_time">
          <br><img src="assets/illustration.png"><br>
          Aucun bijou trouvé...
        </div>
        <div class="flex container-fluid">
          <!-- loader -->
          <div *ngIf="loading" class="loader" [@fade]="'in'">
            <i class="fa fa-spinner" aria-hidden="true"></i>
          </div>

          <div class="shop-card-container2" *ngFor="let bijou of bijoux[page]; let i = index;" [@fadeJustIn]="'in'"
               (mouseenter)="hover_ratio[i] = 1.1"
               (mouseleave)="hover_ratio[i] = 1">

            <a target="_blank" href="{{bijou.url+'&clickref=BJ'}}"
               (click)="monitorBijou(bijou.id)" (auxclick)="monitorBijou(bijou.id)">
              <div class="card">

                <div class="shop-content shop-content2" style="z-index: 88">
                  <div class="shop-img-place card-img-top">
                    <img src="{{ bijou.img.url }}"
                         [ngStyle]="{ 'height': bijou.img.height*ratio*hover_ratio[i]+'px',
                                  'margin-top': '-'+bijou.img.decalage*ratio*hover_ratio[i]+'px'}">
                  </div>

                  <div class="card-block">

                    <p class="card-title" style="overflow: hidden">{{bijou.name}}</p>

                    <div class="row">
                      <div class="col-7">
                        <span>{{bijou.marque | truncate:18}}</span>
                        <span class="hidden">{{bijou.id}}</span>
                      </div>
                      <div class="col-5">
                        <span>{{bijou.price+' €'}}</span>
                      </div>
                    </div>

                    <div class="row">
                      <button class="btn btn-outline-rose" style="margin: 10px auto 0;">Acheter chez {{bijou.source}}</button>
                    </div>
                  </div>

                </div>
              </div>
            </a>
          </div>
        </div>

        <div style="text-align: center; margin-top: 20px" *ngIf="bijoux[0].length !== 0">
          Pages :
          <span *ngFor="let _ of bijoux; let i = index" class="pages"
                [ngClass]="{'current_page': page === i}" (click)="page = i; goTop();">{{i+1}}</span>
          <span *ngIf="page < bijoux.length - 1" class="pages" (click)="page = page + 1; goTop();" >Suivant</span>
        </div>

        <span id="scroll"></span>

      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>
