#mother {
  width: 100%;
  padding: 0;
}

header {
  width: 100%;
  margin-bottom: 15px;
}

header > .row{
  width: 80%;
  margin-left: 10%;
}

#logo {
  margin: auto;
}

#header-links a{
  cursor: pointer;
}

#header-links a:hover, #connexion a:hover, .header-selected{
  color: #384986;
  text-decoration: underline;
}

#connexion {
  text-align: right;
}


#content {
  width: 80%;
  margin-left: 10%;
}

#sort-header {
  background-color: #fff1f3;
}

#titre {
  color: #e84763;
}

#sort {
  text-align: right;
}

.sort-item {
  margin-left: 15px;
  cursor: pointer;
}

.sort-item-selected, .sort-item:hover {
  text-decoration: underline;
}

#filtres {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 15px;
  background-color: #f9f9f9;
  position: relative;
}

#reinit-filtre {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #232323;
  cursor: pointer;
}

#reinit-filtre:hover {
  text-decoration: underline;
}


#bijoux {
  padding: 15px;
  min-height: 1200px;
  margin-bottom: 15px;
}

#not-found {
  text-align: center;
  font-size: 30px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 105;
  background-color: rgba(113, 113, 113, 0.1);
}

.loader i {
  color: #e84763;
  position: fixed;
  left: calc(57% - 25px);
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar-toggler {
  cursor: pointer;
  margin-top: 10px;
  color: #e84763;
}

.shop-card-container2 {
  margin: 15px;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.shop-card-container2:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.12), 0 7px 14px rgba(0,0,0,0.24);
}

.shop-card-container2 img {
  transition: all ease 200ms;
}

.shop-img-place {
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.pages {
  cursor: pointer;
  margin-right: 8px;
}

.current_page, .pages:hover{
  text-decoration: underline;
  font-weight: bold;
}

.shop-footer a, .shop-footer button{
  margin-left: 10px;
}

.popin-fleche2 {
  z-index: 105;
  position: absolute;
}

.popin2 {
  z-index: 105;
  position: absolute;
  padding: 20px;
  text-align: center;
  border: 1px solid #e84763;
}
