<!-- Popup  jaimepas -->
<div *ngIf="jaimepas_show" class="popup popup-large card row" [@flyInOut]="'in'">

  <div class="hidden-sm-down col-md-3">
    <a target="_blank" href="{{current_bijou.bijou.url+'&clickref=CO'}}"
       (click)="monitorBijou(current_bijou.bijou.id)" (auxclick)="monitorBijou(current_bijou.bijou.id)">
      <img class="img-jaimepas" src="{{ current_bijou.bijou.img.url }}">
      <p style="width: 90%;" class="card-title">{{current_bijou.bijou.name}}</p>
    </a>
  </div>
  <div class="col-12 col-md-9 ">
    <div class="list-group">
      <div class="list-group-item" id="carac-li" style="overflow-y: scroll;">

        <div class="carac-line col-lg-12">

          Caractéristique :<br>
          <hr style="width: 100%;">

          <label for="style_taille" class = "carac-div form-label"
                 (change)="current_bijou.addJaimepas('normale', 'taille')"
                 [ngClass]="{'carac-selected': current_bijou.isSelected('normale', 'taille')}">
                    <span class="carac-img-place">
                      <img class="carac-img" src="/assets/icon/style/{{parent.conf['type']}}/taille.png">
                    </span>
            <span [innerHTML]="'Je n\'aime pas '+current_bijou.phrases['taille']"></span>
            <br>
            <input id="style_taille" type="checkbox" [checked]="current_bijou.isSelected('normale', 'taille')">
          </label>

          <ng-container *ngFor="let key of key_color">
            <label *ngIf="current_bijou.dict.dic.hasOwnProperty(key)"
                   for="style_{{key}}" class = "carac-div form-label"
                   (change)="current_bijou.addJaimepas('normale', key)"
                   [ngClass]="{'carac-selected': current_bijou.isSelected('normale', key)}">
                      <span class="carac-img-place">
                        <img class="carac-img" src="/assets/icon/style/{{parent.conf['type']}}/{{key}}.png"/>
                      </span>
              <span [innerHTML]="'Je n\'aime pas '+current_bijou.phrases[key]"></span>
              <br>
              <input id="style_{{key}}" type="checkbox" [checked]="current_bijou.isSelected('normale', key)">
            </label>
          </ng-container>

          <ng-container *ngFor="let key of current_bijou.dict.dic.symbolique.value">
            <label for="style_{{key}}" class = "carac-div form-label"
                   (change)="current_bijou.addJaimepas('symbolique', key)"
                   [ngClass]="{'carac-selected': current_bijou.isSelected('symbolique', key)}">
                      <span class="carac-img-place">
                        <img class="carac-img" src="/assets/icon/style/symbolique/{{'symbolique_'+key}}.png"/>
                      </span>
              <span [innerHTML]="'Je n\'aime pas '+current_bijou.phrases['symbolique_'+key]"></span>
              <br>
              <input id="style_{{key}}" type="checkbox" [checked]="current_bijou.isSelected('symbolique', key)">
            </label>
          </ng-container>
        </div>

        <div class="carac-line col-lg-12">

          Aspect :<br>
          <hr style="width: 100%;">

          <ng-container *ngFor="let key of current_bijou.dict.dic.style.value">
            <label for="style_{{key}}" class = "carac-div form-label"
                   (change)="current_bijou.addJaimepas('style', key)"
                   [ngClass]="{'carac-selected': current_bijou.isSelected('style', key)}">
                      <span class="carac-img-place">
                        <img class="carac-img" src="/assets/icon/style/{{parent.conf['type']}}/{{'style_'+key}}.png"/>
                      </span>
              <span [innerHTML]="'Je n\'aime pas '+current_bijou.phrases['style_'+key]"></span>
              <br>
              <input id="style_{{key}}" type="checkbox" [checked]="current_bijou.isSelected('style', key)">
            </label>
          </ng-container>

        </div>
      </div>
        <div style="margin: 20px auto 10px auto;">
          <button class="btn btn-rose"
                  [disabled]="current_bijou.isEmpty(current_bijou.jaimepas_dict)"
                  (click)="current_bijou.sendData('jaimepas');">
            Ok
          </button>
          <button class="btn" (click)="jaimepas_show = false;" style="margin-left: 15px;">
            Annuler
          </button>
        </div>
    </div>
  </div>
</div>

<!-- Popup -->
<div *ngIf="show_popup" class="popup popup-large card" [@flyInOut]="'in'">
  <i class="fa fa-close" aria-hidden="true"
     style="position: absolute; top:5px; right: 10px; cursor: pointer; font-size: 18px; color:#e84763;" (click)="show_popup = false;"></i>
  <div *ngIf="popup_page == 1" class="container-fluid popup-page">

    <div class="row">
      <div class="col-12" style="text-align: center;">
        <div class="silya popup-h1">Ta sélection est presque prête !</div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-3 hidden-sm-down" style="text-align: center;">
        <img class="no-border ombre popup-img-xs" src="assets/etoile.png" /><br><br>
        <table class="popup-table">
          <tr>
            <td><i class="fa fa-check" style="color: green" aria-hidden="true"></i></td>
            <td style="width: 20px;"></td>
            <td>Morphologie</td>
          </tr>
          <tr>
            <td><i class="fa fa-check" style="color: green" aria-hidden="true"></i></td>
            <td style="width: 20px;"></td>
            <td>Occasion</td>
          </tr>
          <tr style="color: #e8506d">
            <td><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
            <td style="width: 20px;"></td>
            <td>Style</td>
          </tr>
        </table>
      </div>

      <div class="col-12 col-md-7 offset-md-1" style="text-align: center">

        <div class="popup-content">
          Dans cette dernière étape tu as accés à ta sélection personnalisée mais elle n'est pas encore adaptée à ton style. <br>
          <u>Nous allons l'améliorer ensemble !</u>
        </div>

        <button class="btn btn-rose btn-popup" (click)="popup_page = popup_page + 1;">
          Suivant <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="popup_page == 2" class="container-fluid popup-page">

    <div class="row">
      <div class="col-12" style="text-align: center;">
        <div class="silya popup-h1">Ta sélection est presque prête !</div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-3 hidden-sm-down" style="text-align: center;">
        <img class="popup-img" src="assets/popup.png" />
      </div>

      <div class="col-12 col-md-7 offset-md-1" style="text-align: center">

        <div class="popup-content">
          Pour chaque bijou de la sélection il te suffis de cliquer sur <br>
          <img class="no-border popup-img-xxs" src="assets/jaime.png"> ou <img class="no-border popup-img-xxs" src="assets/jaimepas.png"><br>
          <u>Mon intelligence artificielle s'occupe du reste !</u>
        </div>

        <button class="btn btn-rose btn-popup" (click)="popup_page = popup_page + 1;">
          Suivant <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="popup_page == 3" class="container-fluid popup-page">

    <div class="row">
      <div class="col-12" style="text-align: center;">
        <div class="silya popup-h1">Ta sélection est presque prête !</div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-5 hidden-sm-down" style="text-align: center;">
        <img class="popup-img-sm" src="assets/popup.gif" />
      </div>

      <div class="col-12 col-md-6 offset-md-1" style="text-align: center">

        <div class="popup-content">
          Si tu cliques sur <img class="no-border popup-img-xxs" src="assets/jaimepas.png">, tu dois m'indiquer <u>pourquoi</u> tu n'aimes pas ce bijoux.
        </div>

        <button class="btn btn-rose btn-popup" (click)="popup_page = popup_page + 1;">
          Suivant <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="popup_page == 4" class="container-fluid popup-page">

    <div class="row">
      <div class="col-12" style="text-align: center;">
        <div class="silya popup-h1">Ta sélection est presque prête !</div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="text-align: center;">
        <img class="popup-img-xs  hidden-sm-down" src="assets/popup2.png" /><br>

        <div class="popup-content-mid">
          Pour que ta sélection soit parfaite, complète la barre en haut de la sélection <u>en donnant ton avis sur le plus de bijoux possible</u>.
        </div>

        <button class="btn btn-rose btn-popup" (click)="show_popup = false;">
          C'est parti !
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Popup2 -->
<div *ngIf="show_popup2" class="popup card" [@flyInOut]="'in'" style="margin-top: 20vh;">
  <div>
    <p>Es-tu sûr de vouloir réinitialiser tes préférences de style ?</p>
    <hr>


    <button class="btn" (click)="show_popup2 = false;" style="float: right">
      Annuler
    </button>
    <button class="btn btn-rose" (click)="show_popup2 = false; resetPref()" style="float: right; margin-right: 20px">
      Réinitialiser
    </button>
  </div>
</div>

<!-- Popin1 -->
<img *ngIf="show_popupin" [@fade]="'in'"
     [style.top]="popin_fleche_top" [style.left]="popin_fleche_left"
     src="assets/fleche.png" class="popin-fleche ombre">
<div *ngIf="show_popupin" id="popin1" class="popin card" [@fade]="'in'"
    [style.top]="popin_top" [style.left]="popin_left">
  <div>
    <p>
      Donne moi ton avis sur chaque bijou <u>pour améliorer ta sélection</u> en cliquant sur <br>
      <img class="no-border popup-img-xxs" src="assets/jaime.png"> ou <img class="no-border popup-img-xxs" src="assets/jaimepas.png">
    </p>
    <hr>

    <button class="btn btn-rose" (click)="show_popupin = false; show_popupin2 = true;" style="float: right">
      Ok
    </button>
  </div>
</div>

<!-- Popin2 -->
<img *ngIf="show_popupin2" [@fade]="'in'"
     [style.top]="popin2_fleche_top" [style.left]="popin2_fleche_left"
     src="assets/fleche.png" class="popin-fleche ombre">
<div *ngIf="show_popupin2" id="popin1" class="popin card" [@fade]="'in'"
    [style.top]="popin2_top" [style.left]="popin2_left">
  <div>
    <p>
      Complète la barre à 100% pour avoir <u>une sélection parfaite !</u>
    </p>
    <hr>

    <button class="btn btn-rose" (click)="show_popupin2 = false;" style="float: right">
      Ok
    </button>
  </div>
</div>

<!-- cache -->
<div *ngIf="show_popup || show_popup2 || jaimepas_show" class="cache"
     (click)="show_popup = false; show_popup2 = false; jaimepas_show=false" [@fade]="'in'"></div>

<!-- Shop -->
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 push-md-3">
      <div class="titre-barre">Ajustement de la sélection à ton style :</div>
      <div class="progress" style="width: 90%; margin: auto;">
        <div id="barre" class="progress-bar progress-bar-striped bg-rose" role="progressbar" [style.width]="res['completion']*10+'%'"
             aria-valuemin="0" aria-valuemax="100">{{res['completion']*10}}%</div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 pull-md-6 filters">
      <div>
        <span class="titre-filtre">Filtre prix :</span>
        <app-selector [parent]="parent" [data_key]="'prix'" [mode]="true"></app-selector>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="flex container-fluid">
  <!-- loader -->
  <div *ngIf="loading" class="loader" [@fade]="'in'">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>

  <div class="shop-card-container" *ngFor="let bijou of res['bijoux']; let i = index;"
       (mouseleave)="closeCard(bijou)"
       [@fade]="'in'">

    <div class="card shop-card" [id]="'shop-card-'+i"
         [ngClass]="{'shop-card-focused-xl': isXl(bijou) && bijou.hover,
                     'shop-card-focused': !isXl(bijou) &&  bijou.hover,
                     'shop-card-focused-left': bijou.hover && isLast(bijou)}">

      <div class="shop-content" style="z-index: 88">

        <a target="_blank" href="{{bijou.url+'&clickref=CO'}}" (click)="monitorBijou(bijou.id)" (auxclick)="monitorBijou(bijou.id)">
          <div class="shop-img-place card-img-top">
            <img src="{{ bijou.img.url }}"
                 [ngStyle]="{ 'height': bijou.img.height*ratio+'px',
                              'margin-top': '-'+bijou.img.decalage*ratio+'px'}">
          </div>
        </a>

        <div class="app-style-container" [ngClass]="{'show-style': i == 0 && show_popupin}">
          <app-style [parent]="this" [user_id]="parent.id" [dict]="bijou.score_data.train"
                     [phrases]="bijou.score_data.train_phrases" [bijou]="bijou"
                     style="cursor: default;">
          </app-style>
        </div>

          <div class="card-block">
            <a target="_blank" href="{{bijou.url+'&clickref=CO'}}" (click)="monitorBijou(bijou.id)" (auxclick)="monitorBijou(bijou.id)">

              <p class="card-title" style="overflow: hidden">{{bijou.name}}</p>

              <p class="card-text clearfix" >
                <span style="float: left">{{bijou.marque | truncate:18 }}</span>
                <span style="float: right">{{bijou.price+' €'}}</span>
                <span class="hidden">{{bijou.id}}</span>
              </p>
            </a>

            <div class="row" (click)="openCard(bijou)">
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="bijou.score_data.score_final+'%'"
                   aria-valuemin="0" aria-valuemax="100">Score {{bijou.score_data.score_final}}%</div>
                </div>
              </div>
            </div>

            <div class="row" (click)="openCard(bijou)">
              <div class="pourquoi" style="margin: 4px auto 0;">Pourquoi ce score ?</div>
            </div>

            <a target="_blank" href="{{bijou.url+'&clickref=CO'}}" (click)="monitorBijou(bijou.id)" (auxclick)="monitorBijou(bijou.id)">
              <div class="row">
                <button class="btn btn-outline-rose" style="margin: 10px auto 0;">Acheter chez {{bijou.source}}</button>
              </div>
            </a>
          </div>

      </div>

      <a target="_blank" href="{{bijou.url+'&clickref=CO'}}" (click)="monitorBijou(bijou.id)" (auxclick)="monitorBijou(bijou.id)">
        <div *ngIf="bijou.hover2" class="shop-extra" [@fadeDelay]="'in'">

          <div class="container" style="padding-top: 20px;">
            <div>
              <div>Score morphologie</div>

              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="bijou.score_data.score_morpho+'%'"
                     aria-valuemin="0" aria-valuemax="100">{{bijou.score_data.score_morpho}}%</div>
              </div>

              <ul class="list-conseil">
                <li *ngFor="let phrase of bijou.score_data.phrases_morpho">
                  {{phrase}}
                </li>
              </ul>

              <hr>
            </div>

            <div>
              <div>Score occasion</div>

              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="bijou.score_data.score_occasion+'%'"
                     aria-valuemin="0" aria-valuemax="100">{{bijou.score_data.score_occasion}}%</div>
              </div>

              <ul class="list-conseil">
                <li *ngFor="let phrase of bijou.score_data.phrases_occasion">
                  {{phrase}}
                </li>
              </ul>

              <hr>
            </div>

            <div>
              <div>Score style</div>

              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="bijou.score_data.score_style+'%'"
                     aria-valuemin="0" aria-valuemax="100">{{bijou.score_data.score_style}}%</div>
              </div>

              <hr>
            </div>
          </div>

        </div>
      </a>

    </div>
  </div>
</div>
<div *ngIf="max_bijou == 20" class="voir-plus" style="margin: auto; text-align: center" (click)="max_bijou = 40; getBest(false);">
  Voir plus <i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
<div *ngIf="max_bijou == 40" class="voir-plus" style="margin: auto; text-align: center" (click)="max_bijou = 20; getBest(false);">
  Voir moins <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>

<hr style="width: 80%">

<div class="row justify-content-center">
  <p class="shop-footer">
    Générer une nouvelle sélection en modifiant :
    <a class="btn btn-md btn-outline-success" href="conseil#morpho" (click)="parent.setProgress(2)">
      <img *ngIf="parent.conf.peau === 'chocolat'" src="/assets/icon/icon_peau_chocolat.png"/>
      <img *ngIf="parent.conf.peau === 'caramel'" src="/assets/icon/icon_peau_caramel.png"/>
      <img *ngIf="parent.conf.peau === 'vanille'" src="/assets/icon/icon_peau_vanille.png"/>
      Ma morphologie
    </a>

    <a class="btn btn-md btn-outline-success" href="conseil#choix" (click)="parent.setProgress(4)">
      <img *ngIf="parent.conf.occasion === 'soiree'" src="/assets/icon/icon_occasion_soiree.png"/>
      <img *ngIf="parent.conf.occasion === 'jour'" src="/assets/icon/icon_occasion_jour.png"/>
      <img *ngIf="parent.conf.occasion === 'travail'" src="/assets/icon/icon_occasion_travail.png"/>
      L'occasion
    </a>

    ou

    <button class="btn btn-md" (click)="show_popup2 = true;">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      Réinitialiser mes préférences
    </button>
    <button class="btn btn-md" (click)="show_popup = true; popup_page = 1;">
      <i class="fa fa-question" aria-hidden="true"></i>
      Aide
    </button>
  </p>
</div>

<span id="scroll2"></span>
