.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  align-items: center;
  justify-content: center;

  min-height: 1000px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 105;
  background-color: rgba(113, 113, 113, 0.1);
}

.loader i {
  color: #e84763;
  font-size: 40px;
  position: fixed;
  left: calc(50% - 28px);
  top: 650%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-bar {
  font-size: 12px;
}

.titre-barre {
  text-align: center;
  margin-bottom: 10px;
}

.titre-filtre{
  position: relative;
}

.shop-card-container {
  margin: 15px;
  position: relative;
}

.shop-card {
  cursor: pointer;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), width 0.2s ease;
}

.show-style {
  opacity: 1 !important;
}

.shop-card .app-style-container{
  opacity: 0;
  transition: opacity 100ms ease;
}

.shop-card:hover .app-style-container{
  opacity: 1;
}

.shop-card-focused, .shop-card-focused-xl{
  z-index: 90;
}

.shop-card-focused-left {
  z-index: 90;
  float: right;
}

.shop-extra{
  position: absolute;
  top: 0;
  right: 0;
}

.shop-img-place {
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.shop-footer a, .shop-footer button{
  margin-left: 10px;
}

.list-conseil li {
  list-style: none;
}

.list-conseil li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin:0 5px 0 -15px;
  color: green;
  list-style: none;
}

.pourquoi {
  cursor: pointer;
  color: #e84763;
}

.pourquoi:hover, .voir-plus:hover {
  color: #ff5674;
}

.voir-plus {
  cursor: pointer;
}

/* Jaimepas popup */

.jaimepas-ro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.jaimepas-ro > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.carac-line{
  display: flex;
  flex-wrap: wrap;
}

.img-jaimepas {
  box-shadow: none;
}

.carac-div {
  display: inline-block;
  margin-right: 20px;

  text-align: center;
  transition: all 0.1s linear;
}

.carac-selected {
  background-color: rgba(255,0,0,0.2);
}

.carac-img-place {
  display: block;
  overflow: hidden;
  margin: 5px auto auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

.carac-img {
  transition: all 0.3s ease;
  position: relative;
  top: 0;
  left: 0;
}

/* Popup */

.popup-page {
  border: solid 1px pink;
}

.popup-table {
  margin: auto;
  text-align: left;
}

.btn-popup {
  position: absolute;
  bottom: 0;
  right: 0
}

.popin-fleche {
  z-index: 105;
  position: absolute;
}

.popin {
  z-index: 105;
  position: absolute;
  padding: 20px;
  text-align: center;
  border: 1px solid #e84763;
}

#carac-li {
  height: 70vh;
}
