.img-icon {
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

.previous-button {
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

.previous-button button {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* footer */

app-footer {
  width: 100%;
  height: 65px;
}

/* Home */

.vp-container {
  margin-top: 100px;
}

.vp-illu {
  width: 90%;
  margin-top: 15px;
}

.logo {
  min-height: 20px;
}

.vp {
  color: #e84763;
}

/* Intro */
.vp-container2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 80px 0 80px;
}

.vp-bas {
  text-align: center;
  margin: 0 40px;
}

.vp-div-img {
  padding: 10px;
}

.vp-img {
  margin-left:auto;
  margin-right:auto;
}

.vp-line {
  width: 3px;
  margin-top: 160px;
  margin-bottom: 20px;
  border-left: solid 1px rgba(0,0,0, 0.1);
}

/* Occasion */
.card-occasion {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}

/* Autre */

.cadre-img {
  height: 90%;
  width: auto;
  max-height: 95%;
  position: fixed;
  bottom: -400%;
  right: 0;
}

#img-cache {
  background-color: #e84763;
}

.modal {
  z-index: 200;
}
