<app-header [parent]="this"></app-header>
<div class="mother" *ngIf="!fatal_error"
     [mnFullpage]="options"
     [mnFullpageAnchors]="['accueil','intro','morpho','morpho2','choix','occasion','selection']"
     [mnFullpageKeyboardScrolling]="false"
     [mnFullpageAnimateAnchor]="false"
     [mnFullpageFitToSection]="true"
>
  <!-- Accueil -->

  <div class="fp-section fp-table">
    <div class="fp-tableCell">
      <div class="vp-container page-content container-fluid">

        <div class="row">
          <div class="col-sm-4" style="text-align: center">
            <img src="assets/diamond.png" class="vp-illu">
          </div>

          <div class="col-sm-8">
            <p class="logo silya"><span *ngFor="let letter of pages.page0;" >{{ letter }}</span></p>
            <p class="vp">Trouve le bijou qui t’ira <u>parfaitement</u> <br/>grâce à mon intelligence artificielle</p>
            <p>
              <button (click)="fullpageService.moveSectionDown(); setProgress(1);" class="btn btn-rose btn-lg">Commencer l'expérience !</button>
            </p>
            <button (click)="type(0); setProgress(0);" class="hidden" id="show0"></button>
          </div>
        </div>
        <hr>
        <p class="vp-md">Comment ça marche ?</p>
        <p class="vp-sm">Je suis une intelligence artificielle conçue pour rechercher pour toi des bijoux qui te correspondent
          parfaitement parmi une sélection de <span style="font-weight: 400">3230 bijoux</span> de nos partenaires.
          Mon algorithme prend en compte plus de <span style="font-weight: 400">50 critères</span> pour te proposer les meilleurs bijoux pour toi !</p>


      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <!-- Intro -->

  <div class="fp-section fp-table">

    <div class="previous-button container ">
      <button (click)="fullpageService.moveSectionUp(); setProgress(0);" class="btn btn-sm btn-grey">
        <span class="fa fa-chevron-up" aria-hidden="true"></span>
      </button>
    </div>

    <div class="fp-tableCell">
      <div class="vp-container2 page-content container-fluid">

        <p class="silya silya-lg phrase"><span *ngFor="let letter of pages.page1;" >{{ letter }}</span></p>
        <hr>

        <div class="row justify-content-center">
          <div class="vp-bas">
            <div class="vp-div-img">
              <img src="assets/horloge.png" class="vp-img">
            </div>
            <p class="vp-sm">
              Le test te prendra <b>moins de 5 min</b> à compléter. Tous tes paramètres seront automatiquement sauvegardés pour ta prochaine visite.
            </p>
          </div>
          <div class="vp-line hidden-sm-down"></div>
          <div class="vp-bas">
            <div class="vp-div-img">
              <img src="assets/coeur.png" class="vp-img">
            </div>
            <p class="vp-sm">
              Ce test va me permettre de déterminer 3 choses :<br>
            </p>
              <ul style="text-align: left">
                <li>Ta morphologie</li>
                <li>L'occasion où tu porteras ton bijou</li>
                <li>Tes préférences de style</li>
              </ul>
          </div>
          <div class="vp-line hidden-md-down"></div>
          <div class="vp-bas">
            <div class="vp-div-img">
              <img src="assets/etoile.png" class="vp-img">
            </div>
            <p class="vp-sm">
              A l'issue de ce test, je te proposerai <b>ta sélection personnalisée de 20 bijoux</b>.
            </p>
          </div>
        </div>
        <hr>

        <p style="text-align: center; ">
          <button (click)="fullpageService.moveSectionDown(); setProgress(2);"
                  class="btn btn-rose btn-lg"
                  style="margin-bottom: 25px;">
            C'est parti !
          </button>
        </p>
        <button (click)="type(1); setProgress(1);" class="hidden" id="show1"></button>

      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <!-- Morpho 1 -->

  <div class="fp-section fp-table">

    <div class="previous-button container ">
      <button (click)="fullpageService.moveSectionUp(); setProgress(1);" class="btn btn-sm btn-grey">
        <span class="fa fa-chevron-up" aria-hidden="true"></span>
      </button>
    </div>

    <div class="fp-tableCell">

      <div class="page-content container">

        <div class="container">
          <p class="silya silya-lg phrase"><span *ngFor="let letter of pages.page2;" >{{ letter }}</span></p>
        </div>
        <hr>

        <div class="container">
          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <p class="form-title">Je suis plutôt...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.taille"
                       for="{{ question.id }}"
                       class = "form-label"
                     data-toggle="tooltip" data-placement="bottom" title="{{ question.tooltip }}"
                     (change)="saveChangeConf('taille', $event.target.value)">

                      <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"><br>
                      {{ question.name }}<br>
                    <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>
          </div>

          <div class="form-line row justify-content-center">

            <div class="form-elem col-md-12 col-lg-6">
              <p class="form-title">J'ai la peau plutôt...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.peau"
                       for="{{ question.id }}"
                       class="form-label"
                       (change)="saveChangeConf('peau', $event.target.value)">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                  {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}"
                         checked="{{ question.checked }}">
                </label>
              </form>
            </div>

            <div class="form-elem col-md-12 col-lg-6">
              <p class="form-title">J'ai les yeux plutôt...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.yeux"
                       for="{{ question.id }}" class="form-label"
                       (change)="saveChangeConf('yeux', $event.target.value)">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                  {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}"
                         checked="{{ question.checked }}">
                </label>
              </form>
            </div>

          </div>

          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <button (click)="fullpageService.moveSectionDown();  setProgress(3);" class="btn btn-rose">
                Suivant<br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <button (click)="type(2); saveConf(2); setProgress(2);" class="hidden" id="show2"></button>
            </div>
          </div>

        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <!-- Morpho 2 -->

  <div class="fp-section fp-table">

    <div class="previous-button container ">
      <button (click)="fullpageService.moveSectionUp(); setProgress(2);" class="btn btn-sm btn-grey">
        <span class="fa fa-chevron-up" aria-hidden="true"></span>
      </button>
    </div>

    <div class="fp-tableCell">

      <div class="page-content container">

        <div class="container">
          <p class="silya silya-sm phrase"><span *ngFor="let letter of pages.page3;" >{{ letter }}</span></p>
        </div>
        <hr>

        <div class="container">
          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <p class="form-title">J'ai le bas du visage plutôt...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.visage"
                       for="{{ question.id }}" class = "form-label"
                     data-toggle="tooltip" data-placement="bottom" data-html="true"
                     title="<b>{{question.tooltip}}</b><br><img  style='width: 180px;' src='/assets/icon/{{question.tooltip_pic}}.jpg'/>"
                     (change)="saveChangeConf('visage', $event.target.value)">

                    <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>
          </div>

          <div class="form-line row justify-content-center">
            <div class="form-elem col-md-12 col-lg-6">
              <p class="form-title">J'ai le cou plutôt...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.cou"
                       for="{{ question.id }}" class = "form-label"
                     (change)="saveChangeConf('cou', $event.target.value)">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>

            <div class="form-elem col-md-12 col-lg-6">
              <p class="form-title">J'ai les doigts plutôt...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.main"
                       for="{{ question.id }}" class = "form-label"
                     (change)="saveChangeConf('main', $event.target.value)">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>
          </div>

          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <button (click)="fullpageService.moveSectionDown(); setProgress(4);" class="btn btn-rose next-button">
                Suivant<br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <button (click)="type(3); saveConf(3); setProgress(3);" class="hidden" id="show3"></button>
            </div>
          </div>

        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <!-- Occasion -->

  <div class="fp-section fp-table">

    <div class="previous-button container">
      <button (click)="fullpageService.moveSectionUp(); setProgress(3);" class="btn btn-sm btn-grey">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </button>
    </div>

    <div class="fp-tableCell">

      <div class="container" style="width: 100%">
        <div class="row">

          <div class="col-lg-7" style="z-index: 10;">
            <div class="col-12">
              <div class="card-occasion card">

                <p class="silya silya-lg phrase"><span *ngFor="let letter of pages.page4;" >{{ letter }}</span></p>
                <hr style="width: 100%; margin-top: -5px; margin-bottom: 40px">

                <div class="row justify-content-center">
                  <label *ngFor="let question of questions.type"
                         for="{{ question.id }}" class = "form-label"
                         (change)="saveChangeConf('type', $event.target.value)">
                    <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                    <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}" disabled="{{ question.disabled }}">
                  </label>
                </div>

              </div>
            </div>

            <div class="col-12" style="margin-top: 30px;">
              <div class="card-occasion card">

                <div class="row justify-content-center">

                  <div class="col-md-12 col-lg-6">
                    <p>
                      <img src="assets/icon/icon_occasion_soiree.png" class="img-icon" style="cursor: default">
                    </p>
                    <p class="vp-sm">
                      Choisis cette option si tu recherches un bijou pour une <u>occasion</u> ou pour <u>tous les jours</u>.
                    </p>
                    <button (click)="fullpageService.moveSectionDown();  setProgress(5); saveChangeConf('mode', 1);"
                            class=" btn btn-rose btn-lg">Pour une occasion</button>
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <p>
                      <img src="assets/icon/icon_col_bustier.png" class="img-icon" style="cursor: default">
                    </p>
                    <p class="vp-sm">
                      Choisis cette option si tu recherches un bijou pour aller avec <u>une tenue</u>.
                    </p>
                    <button (click)="fullpageService.moveSectionDown(); setProgress(5);
                    saveChangeConf('mode', 2);" class=" btn btn-rose btn-lg">Aller avec une tenue</button>
                  </div>
                  <button (click)="type(4); saveConf(4); setProgress(4);" class="hidden" id="show4"></button>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-5 hidden-md-down">
            <img *ngIf="conf.peau === 'chocolat'" class="cadre-img" src="/assets/icon/icon_lg_chocolat.png"/>
            <img *ngIf="conf.peau === 'caramel'" class="cadre-img" src="/assets/icon/icon_lg_caramel.png"/>
            <img *ngIf="conf.peau === 'vanille'" class="cadre-img" src="/assets/icon/icon_lg_vanille.png"/>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Page 5 -->

  <div class="fp-section fp-table">

    <div class="previous-button container ">
      <button (click)="fullpageService.moveSectionUp(); setProgress(4);" class="btn btn-sm btn-grey">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Occasion -->
    <div *ngIf="conf.mode===1" class="fp-tableCell">

      <div class="page-content container">

        <div class="container">
          <p class="silya silya-lg phrase"><span *ngFor="let letter of pages.page5_1;" >{{ letter }}</span></p>
        </div>
        <hr>

        <div class="container">
          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <p class="form-title">Je cherche un bijou pour...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.occasion"
                       for="{{ question.id }}" class = "form-label"
                     (change)="saveChangeConf('occasion', $event.target.value)"
                      style="margin-right: 15px;">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>
          </div>

          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <button (click)="fullpageService.moveSectionDown();  setProgress(6);" class="btn btn-rose next-button">
                Suivant<br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <button (click)="type('5_1'); saveConf(5); setProgress(5);" class="hidden" id="show5"></button>
            </div>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </div>

    <!-- Tenue -->
    <div *ngIf="conf.mode===2" class="fp-tableCell">

      <div class="page-content container">

        <div class="container">
          <p class="silya silya-lg phrase"><span *ngFor="let letter of pages.page5_2;" >{{ letter }}</span></p>
        </div>
        <hr>

        <div class="container">
          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <p class="form-title">Le col de mon haut (ou de ma robe) est...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.col"
                       for="{{ question.id }}" class = "form-label"
                     (change)="saveChangeConf('col', $event.target.value)">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>
          </div>

          <div class="form-line row justify-content-center">

            <div class="form-elem col-md-12 col-lg-6">
              <p class="form-title">C'est une tenue pour...</p>
              <form class="row justify-content-center">
                <label *ngFor="let question of questions.occasion_tenue"
                       for="{{ question.id }}" class = "form-label"
                       (change)="saveChangeConf('occasion_tenue', $event.target.value)"
                       style="margin-right: 15px;">
                  <img class="img-icon" src="/assets/icon/{{ question.pic }}.png"/><br>
                    {{ question.name }}<br>
                  <input id="{{ question.id }}" type="radio" name="face" value="{{ question.value }}" checked="{{ question.checked }}">
                </label>
              </form>
            </div>

            <div class="form-elem col-md-12 col-lg-6">
              <p class="form-title">Mon haut (ou ma robe) est...</p>
              <form class="row justify-content-center">
                <div class="col-xs-6" style="position: relative;">
                  <img id="img-cache" style="position: absolute; right: 0; top: 0; filter: none; -webkit-filter: none; cursor: default"
                       class="img-icon" src="/assets/icon/icon_tenue_cache.png"/>
                  <img class="img-icon" style="position: absolute; right: 0; top: 0; filter: none; -webkit-filter: none; cursor: default"
                       src="/assets/icon/icon_tenue.png"/>
                </div>
                <div class="col-xs-6">
                <label for="tenue_couleur" style="margin-top: 30%">Couleur : </label>
                  <select id="tenue_couleur" name="tenue_couleur" #t
                          (change)="changeTenue(t.value); saveChangeConf('couleur_tenue', t.value)">
                    <option *ngFor="let couleur of questions.couleur_tenue"
                            value="{{ couleur.value }}"
                            selected="{{ couleur.checked }}">
                      {{ couleur.name }}
                    </option>
                  </select>
                </div>
              </form>
            </div>
          </div>

          <div class="form-line row justify-content-center">
            <div class="form-elem">
              <button (click)="fullpageService.moveSectionDown(); setProgress(6);" class="btn btn-rose next-button">
                Suivant<br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <button (click)="init_color(); type('5_2'); saveConf(5); setProgress(5);" class="hidden" id="show5"></button>
            </div>
          </div>

        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <!-- Shop -->

  <div class="fp-section fp-table selection-a thetop">

    <div class="previous-button container">
      <button (click)="fullpageService.moveSectionUp(); setProgress(5);" class="btn btn-sm btn-grey">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </button>
    </div>

    <div class="fp-tableCell">
      <div class="page-content container">
        <div class="container">
          <p class="silya silya-lg thetop" style="text-align: center">Voici les bijoux que je te conseille !</p>
        </div>
        <hr>

        <app-shop [parent]="this"></app-shop>
        <button (click)="type(6); saveConf(6, true); setProgress(6)" class="hidden" id="show6"></button>

      </div>
    </div>
    <app-footer></app-footer>
  </div>


</div>

<!-- Page erreur -->

<div *ngIf="fatal_error" class="fp-tableCell">
  <div>
    <div class="container">
      <div class="vp-container">
        <p class="silya silya-lg">
          Une erreur s'est produite...
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
