<button *ngIf="!mode && parent.changed[key]" class="appliquer-btn btn btn-sm btn-rose"
        (click)="parent.getFiltered(); parent.goTop();" [@flyFromRight]="'in'">
  Appliquer <i class="fa fa-arrow-right" aria-hidden="true"></i>
</button>

<div style="display: inline-block;">
  <div class="selector-bg">
    <div class="selector-check selector-check-left"
         [ngClass]="{'uncheck': !states[0]}" (click)="changeState(0)">
      <i class="fa" [ngClass]="{'fa-check': states[0], 'fa-times': !states[0]}" aria-hidden="true"></i>
    </div>

    <div class="selector-check selector-check-middle"
         [ngClass]="{'uncheck': !states[1]}" (click)="changeState(1)">
      <i class="fa" [ngClass]="{'fa-check': states[1], 'fa-times': !states[1]}" aria-hidden="true"></i>
    </div>

    <div class="selector-check selector-check-right"
         [ngClass]="{'uncheck': !states[2]}" (click)="changeState(2)">
      <i class="fa" [ngClass]="{'fa-check': states[2], 'fa-times': !states[2]}" aria-hidden="true"></i>
    </div>

  </div>

  <div class="selector-label row">
    <div class="col-4">
      {{names[0]}}
    </div>
    <div class="col-4" style="text-align: center">
      {{names[1]}}
    </div>
    <div class="col-4" style="text-align: right">
      {{names[2]}}
    </div>
  </div>
</div>
