.selector-bg {
  position: relative;
  margin: 0;
}

.selector-check {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;

  background-color: #ffe55d;
  color: white;

  position: absolute;
  text-align: center;
  cursor: pointer;
}

.selector-check:hover {
  border: 1px solid #e84763;
}

.uncheck {
  background-color: white;
  color: #E0E0E0;
}

.selector-check i {
  position: relative;
}

.selector-label {
  margin: 0;
}

.selector-label .col-4 {
  padding: 0;
}

.appliquer-btn {
  float: right;
  margin-right: 5px;
  z-index: 10;
  position: relative;
}
