<div style="height: 100vh;" *ngIf="!erreur">
  <div class="loader">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>
</div>
<div *ngIf="erreur" style="padding: 50px; margin: auto; font-size: 18px;">
  Veuillez activer les cookies pour que l'application puisse fonctionner normalement.
</div>
