.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 105;
  background-color: rgba(113, 113, 113, 0.1);
}

.loader i {
  color: #e84763;
  font-size: 40px;
  position: fixed;
  left: calc(50% - 28px);
  top: 50vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
