/* generale */

.silya {
  font-family: "Bree", sans-serif;
  color: #FFD700;
}

.phrase {
  text-align: center;
}

.fp-section {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fafaff;
  position: relative;
}

.page-content {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.vp-container, .vp-container2, .page-content  {
  background-color: white;
}

.form-elem {
  text-align: center;
  color: #e84763;
}

.form-title {
  font-family: "Bree", sans-serif;
}

.form-line {
  margin-top: 2.5%;
}

.form-label {
  cursor: pointer;
}

.form-label:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

.silya span , .logo span {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.cache {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 600%;
  left: 0;
  z-index: 105;
  background-color: rgba(47, 47, 47, 0.5);
}

.popup{
  position: fixed;
  top: calc(600% + 90px);
  left: 35%;
  z-index: 200;
  width: 30%;
  padding: 10px 30px 10px 30px;
  max-height: calc( 100vh - 120px);
}

.popup p {
  font-weight: 300;
  text-align: center;
}
