<!-- control panel -->
<div class="app-style" style="text-align: center; height:0; overflow:visible; position: relative;">
  <button class="circle btn btn-success" (click)="sendData('jaime');" style="margin-right: 15px;">
    <i class="fa fa-heart" aria-hidden="true" [ngClass]="{'fa-heart-selected': bijou.loved}"></i>
  </button>
  <button class="circle btn btn-danger" (click)="parent.current_bijou = this; parent.jaimepas_show = true;">
    <i class="fa fa-heart" aria-hidden="true"></i>
    <i id="fa-bolt" class="fa fa-bolt fa-inverse"></i>
  </button>
</div>
