.circle {
  position: relative;
  display: inline-block;
  text-align: center;
}

.circle i {
  position: absolute;
}

.fa-bolt {
  color: #d9534f;
}

.btn-success:hover .fa-heart, .fa-heart-selected {
  color: #d9373a;
}
