<button *ngIf="parent.changed[key]" class="appliquer-btn btn btn-sm btn-rose"
        (click)="parent.getFiltered(); parent.goTop();" [@flyFromRight]="'in'"
        style="margin-bottom: 5px;">
  Appliquer <i class="fa fa-arrow-right" aria-hidden="true"></i>
</button>

<div class="picker-bg">
  <div class="dropup">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <b>+</b> Ajouter {{data[key].name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ng-container *ngFor="let categorie of data[key].data">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">{{categorie.name}} :</h6>
        <span *ngFor="let style of categorie.styles" class="dropdown-item"
        (click)="addValue(style)">
          <span *ngIf="data[key].name === 'une couleur'" class="circle-color"
                [ngStyle]="{'background-color': style.color}"></span>
          {{style.name}}
        </span>
      </ng-container>
    </div>
  </div>


  <div *ngFor="let elm of selected" class="selector2-bg" [@flyFromRight]="'in'">
    <div class="selector-check selector-check2"
         [ngClass]="{'uncheck': !elm.check}" (click)="changeValue(elm)">
      <i class="fa" [ngClass]="{'fa-check': elm.check, 'fa-times': !elm.check}" aria-hidden="true"></i>
    </div>
    <span *ngIf="data[key].name === 'une couleur'" class="circle-color selector2-text"
          [ngStyle]="{'background-color': elm.color}"></span>
    <span class="selector2-text">{{elm.name}}</span>
  </div>


  <div class="selector2-bg">
    <div class="selector-check selector-check2"
         [ngClass]="{'uncheck': selected.length > 0}" (click)="removeAll()">
      <i class="fa" [ngClass]="{'fa-check': selected.length == 0, 'fa-times': selected.length > 0}" aria-hidden="true"></i>
    </div>
    <span class="selector2-text">{{data[key].pluriel}}</span>
  </div>
</div>
