.selector2-bg {
  position: relative;
  margin: 5px 0 0;
}

.selector2-text {
  position: relative;
}

.dropdown-item {
  cursor: pointer;
}

.circle-color {
  display: inline-block;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
}
