/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Bree'; /*a name to be used later*/
  src: url('/assets/bree-reg.otf'); /*URL to font*/
}
@font-face {
  font-family: 'LKK'; /*a name to be used later*/
  src: url('/assets/LKK.otf'); /*URL to font*/
  font-weight: normal;
}
@font-face {
  font-family: 'LKK'; /*a name to be used later*/
  src: url('/assets/LKK-M.otf'); /*URL to font*/
  font-weight: bold;
}

header, .card, .btn, .page-content, .vp-container, .progress, .header-step, .vp-illu, .popup img, .selector-check {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header-step:hover{
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

.no-border {
  box-shadow: none !important;
}

.ombre, .img-icon, .vp-img, .list-group, .circle {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.24));
  filter:         drop-shadow(0 1px 2px rgba(0,0,0,0.24));
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.none:hover {
  -webkit-filter: drop-shadow(0 5px 8px rgba(0,0,0,0.24));
  filter:         drop-shadow(0 5px 8px rgba(0,0,0,0.24));
}

.cadre-img {
  -webkit-filter: drop-shadow(0 3px 6px rgba(0,0,0,0.24));
  filter:         drop-shadow(0 3px 6px rgba(0,0,0,0.24));
}

body {
  font-size: 16px;
  font-family: 'LKK','Open Sans', sans-serif, Tahoma;
}

.vh {
  width: 1px;
  border-left: 1px solid rgba(0,0,0, 0.1);
}

a , a:hover, a:active, a:visited, a:link{
  text-decoration: none;
  color: inherit;
}

.btn, a {
  cursor: pointer;
  z-index: 100;
}

.card {
  background-color: white;
}

.progress {
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
}

.progress-bar{
  transition: all 0.6s ease-out;
  height: 16px;
}

.fa-morpho {
  background-image: url('assets/icon/icon_morpho.png');
}

/* Custom btn */

.bg-rose{
  background-color: #e84763;
}

.btn-rose {
  background: #e84763;
  color: #ffffff;
}

.btn-rose:hover, .btn-rose:focus, .btn-rose:active, .btn-rose.active, .open > .dropdown-toggle.btn-rose,
.btn-outline-rose:hover, .btn-outline-rose:focus, .btn-outline-rose:active, .btn-outline-rose.active, .open > .dropdown-toggle.btn-outline-rose {
  background: #e8506d;
  color: white;
}

.btn-outline-rose{
  color: #e84763;
  background: transparent none;
  border-color: #e84763;
}

.btn-grey {
  background-color: #a7a7a7;
  opacity: 0.5;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active, .open > .dropdown-toggle.btn-grey {
  opacity: 0.7;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
